In [1]:
# Liz Ponting - HW2 

# Lab 4: Joining 

#1 You should have already downloaded the planes data. Now download a related dataset – flights data.

In [2]:
#2 Load Planes & Flight Data
import pandas as pd
flights = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\flights_python.csv')
flights

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01 05:00:00
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01 05:00:00
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01 05:00:00
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01 05:00:00
4,2013,1,1,554.0,600,-6.0,812.0,837,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,0,2013-01-01 06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,1455,NaN,NaN,1634,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14,55,2013-09-30 14:00:00
336772,2013,9,30,NaN,2200,NaN,NaN,2312,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22,0,2013-09-30 22:00:00
336773,2013,9,30,NaN,1210,NaN,NaN,1330,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12,10,2013-09-30 12:00:00
336774,2013,9,30,NaN,1159,NaN,NaN,1344,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11,59,2013-09-30 11:00:00
336775,2013,9,30,NaN,840,NaN,NaN,1020,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8,40,2013-09-30 08:00:00

In [3]:
planes = pd.read_csv(r'C:\Users\Liz Ponting\Desktop\planes_python.csv')
planes

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N10156,2004.0,Fixed wing multi engine,EMBRAER,EMB-145XR,2,55,NaN,Turbo-fan
1,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N10575,2002.0,Fixed wing multi engine,EMBRAER,EMB-145LR,2,55,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...
3317,N997AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3318,N997DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS AIRCRAFT CO,MD-88,2,142,NaN,Turbo-fan
3319,N998AT,2002.0,Fixed wing multi engine,BOEING,717-200,2,100,NaN,Turbo-fan
3320,N998DL,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet
3321,N999DN,1992.0,Fixed wing multi engine,MCDONNELL DOUGLAS CORPORATION,MD-88,2,142,NaN,Turbo-jet

In [4]:
#3 Based on what you see in the flights dataset, form a hypothesis about what this dataset is. Do you see a column in this data that could match up with a column in the planes data?
#The flight data set appears to be flight records and times from 2013. The Tail Number could match up the two data sets.

In [5]:
#4 Just using the flights data, is it possible to determine what percentage of the flights were completed on Boeing planes? Why not?
# No, there is not a column with the manufacturere in the flights data set.

In [6]:
#5 In order to combine this data with the planes data (where the manufacturer column is), we need to do a join.
#Inner join the planes data to the flights data, storing the result in a variable called joined_data.
joined_data = pd.merge(flights, planes,on='tailnum')
joined_data

,year_x,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,minute,time_hour,year_y,type,manufacturer,model,engines,seats,speed,engine
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,15,2013-01-01 05:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
1,2013,1,8,1435.0,1440,-5.0,1717.0,1746,-29.0,UA,...,40,2013-01-08 14:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
2,2013,1,9,717.0,700,17.0,812.0,815,-3.0,UA,...,0,2013-01-09 07:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
3,2013,1,9,1143.0,1144,-1.0,1425.0,1445,-20.0,UA,...,44,2013-01-09 11:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
4,2013,1,13,835.0,824,11.0,1030.0,951,39.0,UA,...,24,2013-01-13 08:00:00,1999.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284165,2013,9,20,1758.0,1805,-7.0,1929.0,1953,-24.0,OO,...,5,2013-09-20 18:00:00,2005.0,Fixed wing multi engine,BOMBARDIER INC,CL-600-2C10,2,80,NaN,Turbo-fan
284166,2013,9,22,1759.0,1805,-6.0,1945.0,1953,-8.0,OO,...,5,2013-09-22 18:00:00,2005.0,Fixed wing multi engine,BOMBARDIER INC,CL-600-2C10,2,80,NaN,Turbo-fan
284167,2013,9,23,1759.0,1805,-6.0,1935.0,1953,-18.0,OO,...,5,2013-09-23 18:00:00,2006.0,Fixed wing multi engine,BOMBARDIER INC,CL-600-2C10,2,80,NaN,Turbo-fan
284168,2013,9,24,1751.0,1805,-14.0,1937.0,1953,-16.0,OO,...,5,2013-09-24 18:00:00,2009.0,Fixed wing multi engine,BOMBARDIER INC,CL-600-2C10,2,80,NaN,Turbo-fan
284169,2013,9,28,712.0,720,-8.0,955.0,1025,-30.0,AS,...,20,2013-09-28 07:00:00,2006.0,Fixed wing multi engine,BOEING,737-890,2,149,NaN,Turbo-fan

In [7]:
#6 How many rows are in the result DataFrame? How does this compare to how many rows were in its parent DataFrames (planes and flights)?
planes.shape

(3322, 9)

In [8]:
flights.shape

(336776, 19)

In [9]:
joined_data.shape

(284170, 27)

In [10]:
#7 What would happen if you did a left join instead of an inner join? Try it, storing the result in a variable called left_joined_data. 
#Check how many rows are in this new DataFrame -- is it different to the number of rows in joined_data (from #5)?

left_joined_data = pd.merge(flights, planes,on='tailnum',how='outer')
left_joined_data.shape

# Left outter join grabs all of the rows while inner join only grabs the rows that are in common.

(336776, 27)

In [11]:
#8 Using the original joined data, calculate what percentage of flights were completed on Boeing planes.
(joined_data.loc[joined_data['manufacturer'] == 'BOEING'].count() / joined_data['tailnum'].count()) * 100

year_x            29.176901
month             29.176901
day               29.176901
dep_time          29.040363
sched_dep_time    29.176901
dep_delay         29.040363
arr_time          29.018897
sched_arr_time    29.176901
arr_delay         28.955555
carrier           29.176901
flight            29.176901
tailnum           29.176901
origin            29.176901
dest              29.176901
air_time          28.955555
distance          29.176901
hour              29.176901
minute            29.176901
time_hour         29.176901
year_y            28.694092
type              29.176901
manufacturer      29.176901
model             29.176901
engines           29.176901
seats             29.176901
speed              0.000000
engine            29.176901
dtype: float64